<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="../css/materialize.min.css"
      media="screen,projection"
    />

    <!-- diff display -->
    <link type="text/css" rel="stylesheet" href="../css/html.css"/>

    <!-- CSS override -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>

  <body>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="../css/js/materialize.min.js"></script>
    <script type="text/javascript" src="../css/js/jsondiffpatch.umd.js"></script>
    <script type="text/javascript" src="../scripts/display-bundle.js"></script>

    <div class="content">
      <a
        id="recordDOM"
        class="btn-floating btn-small waves-effect waves-light teal lighten-1"
        href="#"
        ><i class="material-icons">compare</i></a
      >

      <div id="ring" class="ring">
        <span id="loader-span"></span>
        <p id="diff">Test</p>
      </div>

      <script src="../scripts/popup.js"></script>
	</div>
	
	<!-- DOM change details -->
	<!-- https://materializecss.com/collapsible.html -->
    <div class="details">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">
              <i class="material-icons">change_history</i><span class="collapsible-text">Modifications</span>
          </div>
          <div class="collapsible-body">
            <span id="modify-text">None.</span>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
