<!DOCTYPE html>
<html>
    <head>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- CSS override -->
        <link rel="stylesheet" href="../css/style.css">
    </head>

    <body>
        <div class="content">
            <a id="recordDOM" class="waves-effect waves-light btn-small">DIFF</a>

            <script src="../dist/webpack-bundle.js"></script>
            <script src="../scripts/popup.js"></script>
            <p id="DOMChange"> No changes yet. </p>
        </div>
    </body>
</html>